
.gallery {
	margin: 10px 50px;
	display: grid;
	grid-template-columns: repeat(5,1fr);

	/*line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;*/
}

.gallery img {
	transition: 1s;
	padding: 15px; 
	/*width: 100% !important;
  	height: auto !important;*/
}

.gallery img:hover {
	filter:grayscale(100%);
	transform: scale(1.1);
}